body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    background-color: #222;
    color: orange;
}
.container {
    text-align: center;
    background-color: #444;
    padding:10px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button {
    background-color: orange;
}